// renomear esse arquivo para .env

const token = ''

module.exports = {
    token,
    userID: '',
    apiUrl: `https://api.telegram.org/bot${token}`,
    apiUrlFile: `https://api.telegram.org/file/bot${token}`
}